/* Smartphones (portrait) ----------- */ 
@media only screen and (max-width : 450px){
    .home-left{
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        min-height: 1px;
        width: 100%;
    }
    
    .home-right{
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        min-height: 1px;
        width: 100%;
    }
}

/* Desktop (portrait) ----------- */ 
@media only screen and (min-width : 450px){
    .home-left{
        flex: 0 0 58.33%;
        max-width: 58.33%;
        position: relative;
        min-height: 1px;
        width: 100%;
    }
    
    .home-right{
        flex: 0 0 41.33%;
        max-width: 58.33%;
        position: relative;
        min-height: 1px;
        width: 100%;
    }
}

