---
layout: default
---
<div class="container-fluid page-section-head">
  <div class="row page-head">
    <div class="col-12">
      <h1>{{page.title}}</h1>
      <div class="col-12 ">
        <div class="page-line">
          <svg style="margin-left:auto;margin-right:auto;display:block;" width="56px" height="5px" viewBox="0 0 56 5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="screens--2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="contrinutors-2" transform="translate(-692.000000, -192.000000)" fill-rule="nonzero" stroke="#000000" stroke-width="5">
                <path d="M692.5,194.5 L747.5,194.5" id="Line-3"></path>
              </g>
            </g>
          </svg>
        </div>
      </div>
      <p class="page-description">{{page.description}}</p>
    </div>
    <div class="col-12 page-nav">
      <p>

    </p>
    </div>
  </div>
</div>
<div class="container page-section">
  {{content}}
</div>
