---
layout: default
---
<div class="container-fluid page-section-head">
  <div class="row page-head">
    <div class="col-12">
      <h1>{{page.title}}</h1>
      <div class="col-12 ">
        <div class="page-line">
          <img src="./assets/section-head.png">
        </div>
      </div>
      <p class="page-description">{{page.description}}</p>
    </div>
    <div class="col-12 page-nav">
      <p>

    </p>
    </div>
  </div>
</div>
<div class="container page-section">
  {{content}}
</div>
