---
layout: default
---
<div class="container-fluid ">
  <div class="row page-section-head ">
    <div class="col-12 ">
      <h1>{{page.title}}</h1>
      <div class="col-12">
        <div class="page-line">
          <img src="./assets/section-head.png">
        </div>
      </div>
      <p class="page-description">{{page.description}}</p>
    </div>
    <div class="col-12 page-nav">
      <p>
    </p>
    </div>
  </div>
</div>
<div class="container page-section">
    <div class="col-12 centered">
        <h2>Masthead</h2>
        <br>
        <h2>Founding Editors</h2>
        <ul class="list-2">
          <li><a href="{{site.baseurl}}/youmna-chlala/">Youmna Chlala</a></li>
          <li><a href="{{site.baseurl}}/gayle-romasanta/">Gayle Romasanta</a></li>
          <!-- {% for post in site.categories.masthead %}
           <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }},<br>{{ post.bio }}</a></li>
          {% endfor %} -->
        </ul>
        <br>
        <h2>Editor-in-Chief</h2>
        <ul class="list-2">
            <li><a href="{{site.baseurl}}/leslie-carol-roberts/">Leslie Carol Roberts, <span style="display: block;">MFA, Professor and Chair. California College of the Arts, MFA in Writing Program</span></a></li>
          <!-- {% for post in site.categories.masthead %}
           <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }},<br>{{ post.bio }}</a></li>
          {% endfor %} -->
        </ul>
        <br>
        <h2>Editorial Assistants</h2>
        <ul class="list-2">
          <li><a href="{{site.baseurl}}/hannah-lamb-vines/">Hannah Lamb-Vines</a></li>
          <!-- {% for post in site.categories.masthead %}
           <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }},<br>{{ post.bio }}</a></li>
          {% endfor %} -->
        </ul>
        <br>
        <h2>Design Director</h2>
        <ul class="list-2">
          <li><a href="{{site.baseurl}}/william-felker/">William Felker</a></li>
          <!-- {% for post in site.categories.masthead %}
           <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }},<br>{{ post.bio }}</a></li>
          {% endfor %} -->
        </ul>
        <br>
        <h2>Graphic Designer</h2>
        <ul class="list-2">
          <li><a href="{{site.baseurl}}/ryan-lesgaspi/">Ryan Lesgaspi</a></li>
          <!-- {% for post in site.categories.masthead %}
           <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }},<br>{{ post.bio }}</a></li>
          {% endfor %} -->
        </ul>
        <br>
        <h2>Interaction Designer</h2>
        <ul class="list-2">
          <li><a href="{{site.baseurl}}/john-kim/">John Kim</a></li>
          <!-- {% for post in site.categories.masthead %}
           <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }},<br>{{ post.bio }}</a></li>
          {% endfor %} -->
        </ul>
        <br>
      </div>
    <div class="col-12 centered">
      <h2>2019 Fall</h2>
      <ul class="list-3">
        {% for post in site.categories.authors2019 %}
          <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-12 centered">
    <h2>2018 Fall</h2>
    <ul class="list-3">
      {% for post in site.categories.authors2018 %}
       <li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
