---
layout: default-landing
---
<div class="issue-section" style="background-image: url('../assets/2019_fall_home_graphic-01.png');  
background-position: center;
background-repeat: no-repeat;
background-size: cover;">

<div class="row landing-space">
    <div class="col-12" style="padding-right: 3em;
    padding-left: 3em;">
      <p><span style="font-weight: bold;font-style: italic;font-size:3em;">Eleven Eleven </span>{1111} Journal of Literature and Art was founded in 2004 by Youmna Chlala and
        Gayle Romasanta during their MFA in Writing at California College of the Arts. The vision of the
        journal was to create a forum for risk and experimentation in both writing and visual art. It
        developed an international presence while creating interdisciplinary opportunities within CCA.
        Youmna Chlala served as the editor until 2007. Subsequent editors have included Brent Foster
        Jones, Ben Lerner, Hugh Steinberg and Joseph Lease.</p>
    <br>
    <p>11.11 is now published once a year by the MFA Writing Program at California College of the
        Arts, through a process where we gather our admired colleagues and pals to share some words.
        The spare, open pages, and the brevity of offerings are meant to allow the reader the feeling of
        reading, across the wide, white page, “cover to cover.” The idea is to invite readers and writers
        into a digital town square of poetics, where the conversation is meant to be casual, exciting,
        nourishing and inspiring – as though you ran into a smart friend, sat down for a coffee, and they
        shared their thoughts across forms. We also hope it offers the really great feeling that you have
        read it all, cover to cover.</p>
        <br>
    <h2>POLICIES</h2>
    <h5>Correspondence should be directed to the California College of the Arts, MFA in Writing
        Program, 11.11 journal, or via email to</h5>
    <h5>We do not use Submittable and we do not accept unsolicited manuscripts.</h5>
    <br><br>
    <a href="{{site.baseurl}}/2019-fall/">
      <h2>2019 Fall</h2>
      <h4>11.11.19</h4>
      <br>
      <p>We are writers and readers.
        <br>


      Continue Reading  ...</a>
      <br><br>
      <br><br>
    </div>
  </div>
</div>
{% include footer.html %}