---
layout: default
---
<div class="container-fluid">
  <div class="row ">
    <div class="col-sm-12	col-md-12	col-lg-6	col-xl-6 segment-left issue-section-head">
      <h1>{{page.title}}</h1>
      <br>
      <h3>{{page.editor}}</h3>
      <br>
      <br>
      <p>{{content}}</p>
    </div>
    <div style="padding-top: 10vh;" class="col-sm-12	col-md-12	col-lg-6	col-xl-6 issue-section">
      <ul class="collection-list">
        <li><h3 style="color:#111;"><a href="{{site.baseurl}}/timothy-morton/">Timothy Morton</a></h3>
          <ul class="collection-list">
            <li><a href="{{site.baseurl}}/fullness-of-being/">FULLNESS of BEING</a></li>
          </ul>
        </li>
        <br><br>
        <li><h3 style="color:#111;"><a href="{{site.baseurl}}/oliver-bendorf/">Oliver Baez Bendorf</a></h3>
          <ul class="collection-list">
            <li><a href="{{site.baseurl}}/cheers/">Cheers</a></li>
            <li><a href="{{site.baseurl}}/someone-quiet-down-the-biodiverse/">Someone Quiet Down The Biodiverse “I”</a></li>
          </ul>
        </li>
        <br><br>
      </ul>
    </div>
  </div>
</div>

<!-- <ul class="list-2">
  {% assign items_grouped = site.posts | group_by: 'author' %}
  {% for group in items_grouped %}

  <p class="attribute"><a href="{{site.baseurl}}{{post.authorURL}}">{{group.name}}</a></p>
  <ul>
    {% for item in group.items %}
    <li><p><a href="{{site.baseurl}}{{ post.url }}">{{ item.title }}</a></p></li>
    {% endfor %}
  </ul>

  {% endfor %}

</ul> -->

<!-- {% for post in site.categories.2018fall %}
 <li><p><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></p></li>
 <p class="attribute">by <a href="{{site.baseurl}}{{post.authorURL}}">{{post.author}}</a></p>
 <br>
 <br>
{% endfor %} -->
