---
layout: default
---
<div class="container-fluid">
  <div class="row ">
    <div class="col-sm-12	col-md-12	col-lg-6	col-xl-6 segment-left issue-section-head">
      <h1>{{page.title}}</h1>
      <br>
      <h3>{{page.editor}}</h3>
      <br>
      <br>
      <p>{{content}}</p>
    </div>
    <div style="padding-top: 10vh;" class="col-sm-12	col-md-12	col-lg-6	col-xl-6 issue-section">
      <ul class="collection-list">
        <li><h3 style="color:#111;"><a href="{{site.baseurl}}/dodie-bellamy/">Dodie Bellamy</a></h3>
          <ul class="collection-list">
            <li><a href="{{site.baseurl}}/The-Violence-of-the-Image/">The Violence of the Image</a></li>
            <li><a href="{{site.baseurl}}/Stuff-My-Stalker-Has-Ordered-for-Me-Online/">Stuff My Stalker Has Ordered for Me Online</a></li>
          </ul>
        </li>
        <br><br>
        <li><h3 style="color:#111;"><a href="{{site.baseurl}}/may-lee-chai/">May-lee Chai</a></h3>
          <ul class="collection-list">
            <li><a href="{{site.baseurl}}/White-Rabbits/">White Rabbits</a></li>
          </ul>
        </li>
        <br><br>
        <li><h3 style="color:#111;"><a href="{{site.baseurl}}/tongo-eisen-martin/">Tongo Eisen-Martin</a></h3>
          <ul class="collection-list">
            <li><a href="{{site.baseurl}}/Fish-With-Ambition-to-Become-the-River/">Fish With Ambition to Become the River</a></li>
            <li><a href="{{site.baseurl}}/Two-Nights-on-16th-Street/">Two Nights on 16th Street</a></li>
            <li><a href="{{site.baseurl}}/Many-Doses-To-Go-Or-Turns-The-Pen/">Many Doses To Go Or Turns the Pen</a></li>
          </ul>
        </li>
        <br><br>
        <li><h3 style="color:#111;"><a href="{{site.baseurl}}/jennifer-firestone/">Jennifer Firestone</a></h3>
          <ul class="collection-list">
            <li><a href="{{site.baseurl}}/Selections-from-Ten/">Selections from Ten</a></li>
          </ul>
        </li>
        <br><br>
        <li><h3 style="color:#111;"><a href="{{site.baseurl}}/sheila-heti/">Sheila Heti</a></h3>
          <ul class="collection-list">
            <li><a href="{{site.baseurl}}/Literature-Against-Anxiety/">Literature Against Anxiety</a></li>
          </ul>
        </li>
        <br><br>
        <li><h3 style="color:#111;"><a href="{{site.baseurl}}/lorelei-lee/">Lorelei Lee</a></h3>
          <ul class="collection-list">
            <li><a href="{{site.baseurl}}/Leaving-San-Francisco/">Leaving San Francisco</a></li>
          </ul>
        </li>
        <br><br>
        <li><h3 style="color:#111;"><a href="{{site.baseurl}}/miranda-mellis/">Miranda Mellis</a></h3>
          <ul class="collection-list">
            <li><a href="{{site.baseurl}}/The-Imperceptible-Utopia/">The Imperceptible Utopia</a></li>
            <li><a href="{{site.baseurl}}/To-Not-Become-a-Pillar-of-Salt/">To Not Become a Pillar of Salt</a></li>
          </ul>
        </li>
        <br><br>
        <li><h3 style="color:#111;"><a href="{{site.baseurl}}/christopher-merrill/">Christopher Merrill</a></h3>
          <ul class="collection-list">
            <li><a href="{{site.baseurl}}/Rustams-Throne/">Rustam's Throne</a></li>
          </ul>
        </li>
        <br><br>
        <li><h3 style="color:#111;"><a href="{{site.baseurl}}/katherine-min/">Katherine Min</a></h3>
          <ul class="collection-list">
            <li><a href="{{site.baseurl}}/On-Being-a-Sprinter/">On Being a Sprinter</a></li>
            <li><a href="{{site.baseurl}}/On-Being-Humpty-Dumpty/">On Being Humpty Dumpty</a></li>
          </ul>
        </li>
        <br><br>
        <li><h3 style="color:#111;"><a href="{{site.baseurl}}/laura-mullen/">Laura Mullen</a></h3>
          <ul class="collection-list">
            <li><a href="{{site.baseurl}}/Scream/">Scream</a></li>
            <li><a href="{{site.baseurl}}/Elsie-Disclaimer/">Elsie (Disclaimer)</a></li>
            <li><a href="{{site.baseurl}}/Elsie-The-Coward/">Elsie The Coward</a></li>
            <li><a href="{{site.baseurl}}/Elsie-Doesnt-Mind/">Elsie Doesn't Mind</a></li>
            <li><a href="{{site.baseurl}}/El-C-the-C/">El C the C</a></li>
            <li><a href="{{site.baseurl}}/The-Imaginary-Begins/">The Imaginary Begins</a></li>
            <li><a href="{{site.baseurl}}/C-Section/">C Section</a></li>
            <li><a href="{{site.baseurl}}/Queen-of-Muses/">Queen of Muses</a></li>
          </ul>
        </li>
        <br><br>
        <li><h3 style="color:#111;"><a href="{{site.baseurl}}/ron-silliman/">Ron Silliman</a></h3>
          <ul class="collection-list">
            <li><a href="{{site.baseurl}}/from-Parrot-Eyes-Lust/">from Parrot Eyes Lust</a></li>
          </ul>
        </li>
        <br><br>
        <li><h3 style="color:#111;"><a href="{{site.baseurl}}/ross-simonini/">Ross Simonini</a></h3>
          <ul class="collection-list">
            <li><a href="{{site.baseurl}}/Interview-with-Paul-McCarthy/">Legs Spread, Mask On:  Reflections on Snow White, Deleuze, and Late Capitalism</a></li>
          </ul>
        </li>
        <br><br>
        <li><h3 style="color:#111;"><a href="{{site.baseurl}}/john-yau/">John Yau</a></h3>
          <ul class="collection-list">
            <li><a href="{{site.baseurl}}/The-Presidents-Second-Telegram/">The President's Second Telegram</a></li>
            <li><a href="{{site.baseurl}}/The-Presidents-Telegram-3/">The President's Telegram (3)</a></li>
            <li><a href="{{site.baseurl}}/The-Congressmans-Explanation/">The Congressman's Explanation</a></li>
          </ul>
        </li>
        <br><br>
      </ul>
    </div>
  </div>
</div>